
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(42deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-39deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

.triangle {
    width: 100%;
    height: 50px;
    background-color: red;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.triangle-left {
    clip-path: polygon( 100% 100%, 0 100%, 0 0);
}

#home {
    background-image: url(./images/hero.jpg);
    background-size: contain;
    background-position: left bottom;
}

.overlay {
  inset: 0;

  /* Semi-transparent black shadow */
  background: rgba(0, 0, 0, 0.6);

  /* Create a transparent "hole" in the middle of the object */
  /* Example: circle at 50% 50%, 100px radius */
  -webkit-mask-image: radial-gradient(circle 100px at 50% 50%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-composite: destination-out;

  mask-image: radial-gradient(circle 160px at 50% 50%, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
  mask-repeat: no-repeat;
  mask-position: center;
  mask-composite: subtract;

  /* Optional: smooth transition if you want to move the hole */
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;
}

.dots .bg-zinc-700.bg-white {
    background-color: white;
}